DeliveryClub/src/main/resources/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employees" type="employeesType"/>
  <xs:complexType name="employeeType">
    <xs:sequence>
      <xs:element name="fname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Ivan"/>
            <xs:enumeration value="Petr"/>
            <xs:enumeration value="Dana"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="lname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Ivanov"/>
            <xs:enumeration value="Petrov"/>
            <xs:enumeration value="Jonson"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="age">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="25"/>
            <xs:enumeration value="35"/>
            <xs:enumeration value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="employeesType">
    <xs:sequence>
      <xs:element type="employeeType" name="employee" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>