DelivaryClub/src/main/resources/xml/clients.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clients" type="clientsType"/>
  <xs:complexType name="clientType">
    <xs:sequence>
      <xs:element name="fname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Dana"/>
            <xs:enumeration value="Alex"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="lname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Portnova"/>
            <xs:enumeration value="Anisimov"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="age">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="44"/>
            <xs:enumeration value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="clientsType">
    <xs:sequence>
      <xs:element type="clientType" name="client" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>